<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198783924544-f2dkqpp1srjaafg2ur8rkmpngvhlld6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198783924544-f2dkqpp1srjaafg2ur8rkmpngvhlld6u</string>
	<key>API_KEY</key>
	<string>AIzaSyBXF3OG66J7xa3BysWQX5SA_tZ64LcRzlE</string>
	<key>GCM_SENDER_ID</key>
	<string>198783924544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamKadd.AgriGuardian</string>
	<key>PROJECT_ID</key>
	<string>agriguardian-68b94</string>
	<key>STORAGE_BUCKET</key>
	<string>agriguardian-68b94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198783924544:ios:3d58e4f5ac2346eb4162a5</string>
	<key>DATABASE_URL</key>
	<string>https://agriguardian-68b94.firebaseio.com</string>
</dict>
</plist>